
body{
  background-color: black;
}

.jumbotron{
  background-image: url(../21_HW_HOBBY/images/scs_leopard.jpg);
  background-position: center;
background-color: black;
  color: black;
  height: 600px;
  background-repeat: no-repeat;
 
}

.jumbotron .display-2{
 font-weight: 350;
  color: white; 
  background-color: rgba(0, 0, 0, 0.8);
  margin-top: 200px;
  text-align: center;
}

.navbar{
  color: white;
}


h2{
font-size: 66pt;
color: white;
text-align: center;
background-color: rgba(0, 0, 0, 0.8);
}


.card{
  background-color: black;
  color: white;
}

.card-title{
  font-size: 44pt;
}

/* unvisited link */
a:link {
  color: white;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: green;
}

/* selected link */
a:active {
  color: green;
}

#start{
  background: url(../21_HW_HOBBY/images/plate_diagram.png);
  height: 400px;
  background-position: right;

}

#tips{
  background-image: url(../21_HW_HOBBY/images/skaters.jpeg);
height: 400px;

background-position: center;
}

#more{
  background-image: url(../21_HW_HOBBY/images/skatercollage.png);
  height: 400px;
 
  background-position: center;
}

footer{
  padding-top: 50px;

}